span {
  font-weight: 300;
  font-size: 15px;
  text-align: left;
  color: #434242;
}
li {
  padding: 3px 0px;
}
li:hover {
  background-color: #e6e6e6;
  .fa-star {
    letter-spacing: 7px;
  }
}
.fa-star {
  float: right;
  transition: all 0.2s ease;
  font-size: 14px;
  letter-spacing: 5px;
}
.category-name {
  padding-bottom: 15px;
}