.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .presentation {
    position: absolute;
    top: 18vh;
  }
  h1 {
    font-weight: 300;
    padding-bottom: 11px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
  }
  h4 {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
  }
  .fa-linkedin-square {
    margin-left: 0.5em;
  }
  .fa-github-square {
    margin-left: 0.3em;
  }
  .glyphicon-chevron-down, .fa-linkedin-square, .fa-github-square {
    color: $brand-color;
    &:hover {
      text-decoration: none;
    }
  }
}