.navbar {
  width: 100vw;
  height: 4vh;
  min-height: 35px !important;
  background-color: #1B3B6F;
  // #032B43, #1B3B6F, #1A535C
  position: fixed;
  z-index: 1;
  ul {
    height: 100%;
  }
}
.navbar a {
  color: white;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  transition: 0.2s ease;
}
.navbar a:hover {
  color: rgba(255,255,255,0.7);
}
.active-nav {
  &:hover {
    color: white!important;
  }
}