.profile {
  p {
    font-weight: 300;
    font-size: 15px;
    color: #434242;   
  }
  .details {
    .attributes {
      padding: 0.5em 0 0.2em 0;
      .attribute-name-bold {
        font-weight: 500;
      }
      p {
        line-height: 0.8;
      }    
    }
  }
  .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
    .avatar {
      width: 11em;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    }
  }
}
// Unflex for mobile
#unflex-mobile {
  display: flex;
  // justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  #unflex-mobile {
    display: inherit;
  }
}
#italic {
  font-style: italic;
  color: #999999;
  margin-top: 50px;
  margin-bottom: 25px;
}
.fa-star {
  color: $green;
}
@media (max-width: 768px) {
  .banner {
    background-image: none!important;
    background-color: #f7f7f7;
  }
}