.section_headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(114, 120, 120, 0.2);
  padding-bottom: 1em;
  margin-bottom: 2em;
  h2 {
    letter-spacing: 0.04em;
    font-weight: 300;
    color: $green;
  }
   h6 {
    font-weight: 300;
    color: #727878;
    font-size: 20px;
  }
}