h4 {
  font-weight: 300;
  color: $green;
}
// Wrappers
.wrapper-grey {
  background-color: rgba(50,50,50,0.04);
}
// Paddings
.padded {
  padding: 40px 120px;
}
@media (max-width: 768px) {
  .padded {
    padding: 0px;
  }
}
// Flexbox
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}