// Paddings
.padded {
  padding: 40px 120px;
}
@media (max-width: 768px) {
  .padded {
    padding: 0px;
  }
}
// Flexbox
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}