a, a:hover, a:active, a:visited, a:focus {
  text-decoration:none;
}
h4 {
  font-weight: 300;
  color: $green;
}
#italic {
  font-style: italic;
  color: $gray;
  margin-top: 2em;
  margin-bottom: 1;
}
// Wrappers
.wrapper-grey {
  background-color: rgba(50,50,50,0.04);
}
// Paddings
.padded {
  padding: 40px 120px;
}
@media (max-width: 768px) {
  .padded {
    padding: 0px;
  }
}
// Flexbox
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}