 <div class="navbar hidden hidden-xs hidden-sm" style="background-image: linear-gradient(-225deg, rgba(155, 156, 245, 0.5) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
  <ul class="list-unstyled flex-space-around">
    <li><a href="#1">Profile</a></li>
    <li><a href="#2">Abilities</a></li>
    <li><a href="#3">Projects</a></li>
  </ul> 
</div>