 <div class="navbar hidden hidden-xs hidden-sm">
  <ul class="list-unstyled flex-space-around">
    <li><a href="#1">Profile</a></li>
    <li><a href="#2">Abilities</a></li>
    <li><a href="#3">Projects</a></li>
  </ul> 
</div>