<div class="wrapper-white" id="navbar-appear-point">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12">
        <div class="section_headers" id="1">  
          <h2>Profile</h2>
          <h6>I'm a creative Ruby on Rails developper </h6>
        </div>
      </div>
    </div>
    <div class="row profile" >
      <div class="col-xs-12 col-md-4">
        <div class="about-me">
          <h4>About me</h4>
          <p>I started to learn how to code after 8 years of tech experience in the Cinema industry. I wanted to know how the products I love are made and be able to prototype and work in team with other developpers. I joined Le Wagon bootcamp in Paris, I am now focused on improving my skills.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="picture">
          <%= image_tag "avatar.jpg", class: "avatar" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="unflex-mobile details">
          <h4>Details</h4>
            <% data.user.julien.each do |key, value| %>
              <div class="attributes">
                <p class="attribute-name-bold"><%= key %></p>
                <p><%= value %></p>  
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>